
.listing_view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.largescreen {
    display: block;
}
.smallscreen {
    display: none;
}

.card_listing_view {
  position: relative;
  margin: 15px;
  border-radius: 20px;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  width: 250px;
  height: 400px;a
}

.card_listing_view .poster_listing_view {
  position: relative;
  overflow: hidden;
}

.card_listing_view .poster_listing_view:before {
  content: "";
  position: absolute ;
  bottom: -190px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg,#000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card_listing_view:hover .poster_listing_view:before {
  bottom: 0;
}

.card_listing_view .poster_listing_view img {
  width: 100%;
  transition: 0.5s;
}

.card_listing_view:hover .poster_listing_view img {
  filter: blur(2px);
  transform: translateY(-30px);
}

.details_listing_view {
  position: absolute;
  padding: 5px;
  width: 100%;
  height: 74%;
  bottom: -190px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card_listing_view:hover .details_listing_view {
  bottom: 0;
}

.details_listing_view h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details_listing_view h2 span {
  font-size: 14px;
  color: #ff9800;
}

.rating_listing_view {
  position: relative;
  padding: 5px, 0;
}

.rating_listing_view span {
  color: #fff;
  padding: 0 5px;
}

.tags_listing_view {
  position: relative;
  margin-top: 5px;
}

.tags_listing_view span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags_listing_view span.fantasy_listing_view {
  background: #7206f7;
}

.tags_listing_view span.scifi_listing_view {
  background: #f70661;
}

.info_listing_view {
  color: #fff;
}

.info_listing_view p {
  margin: 15px, 0, 10px;
}
@media screen and (max-width: 780px) {
    .largescreen {
        display: none;
    }
    .smallscreen {
        display: block;
    }
    .card_listing_view {
      position: relative;
      margin: 5px;
      border-radius: 13px;
      background: #000;
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
      width: 110px;
      height: 200px;
    }

    .card_listing_view .poster_listing_view {
      position: relative;
      overflow: hidden;
    }

    .card_listing_view .poster_listing_view:before {
      content: "";
      position: absolute ;
      bottom: -76px;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg,#000 50%, transparent);
      transition: 0.5s;
      z-index: 1;
    }

    .card_listing_view:hover .poster_listing_view:before {
      bottom: 0;
    }

    .card_listing_view .poster_listing_view img {
      width: 100%;
      transition: 0.5s;
    }

    .card_listing_view:hover .poster_listing_view img {
      filter: blur(2px);
      transform: translateY(-12px);
    }

    .details_listing_view {
      position: absolute;
      padding: 1px;
      width: 100%;
      height: 74%;
      bottom: -76px;
      left: 0;
      box-sizing: border-box;
      transition: 0.5s;
      z-index: 2;
    }

    .card_listing_view:hover .details_listing_view {
      bottom: 0;
    }

    .details_listing_view h2 {
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 15px;
    }

    .details_listing_view h2 span {
      font-size: 6px;
      color: #ff9800;
    }

    .rating_listing_view {
      position: relative;
      padding: 2px, 0;
    }

    .rating_listing_view span {
      color: #fff;
      padding: 0 2px;
    }

    .tags_listing_view {
      position: relative;
      margin-top: 1px;
    }

    .tags_listing_view span {
      padding: 1px 2px;
      margin-right: 1px;
      color: #fff;
      display: inline-block;
      border-radius: 3px;
    }

    .tags_listing_view span.fantasy_listing_view {
      background: #7206f7;
    }

    .tags_listing_view span.scifi_listing_view {
      background: #f70661;
    }

    .info_listing_view {
      color: #fff;
    }

    .info_listing_view p {
      margin: 6px, 0, 4px;
    }
}